version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamlit-app
    ports:
      - "8501:8501"
    environment:
      - PYTHONUNBUFFERED=1
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    volumes:
      - ./app/app_config.yaml:/app/app/app_config.yaml:ro
      - ./reports:/app/reports
      - ./results:/app/results
      - ./data:/app/data
      - ./images:/app/images
    restart: unless-stopped
